body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Fredoka", sans-serif;
  color: rgb(82, 79, 79);
}
.nav-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav {
  display: flex;
  height: 64px;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.nav-link {
  margin-right: 16px;
  color: black;
}
.logo-text {
  margin: 0;
}
.main-icon {
  height: 56px;
}
.black {
  font-weight: 500;
}
.grey {
  color: rgb(82, 79, 79);
}
.container {
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.main-banner {
  background-color: rgb(194, 192, 192);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}
.banner-img {
  width: 60%;
  margin-right: 24px;
}
.main-information-box {
  width: 60%;
  margin-right: 24px;
}
.main-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}
.main-text {
  margin: 0;
}
.banner-btn {
  width: 350px;
  background-color: rgb(82, 79, 79);
  padding: 8px 0;
  text-align: center;
}
.btn-link {
  color: white;
}
.information-text {
  margin-top: 32px;
  margin-bottom: 24px;
}
.information-quote {
  margin: 0;
}
.quote {
  margin-bottom: 59px;
}
.main-information {
  display: flex;
}
.main-information-img {
  width: 100%;
  height: auto;
}
.main-information-side {
  border-left: 2px solid rgb(194, 192, 192);
  width: 40%;
}
.side-information {
  border-bottom: 5px solid rgb(194, 192, 192);
  padding: 16px;
  display: flex;
}
.side-information:hover {
  background-color: rgb(184, 184, 184);
}
.side-detalis {
  width: 65%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-img {
  height: 100%;
  width: 200px;
}
.dark {
  background-color: rgb(194, 192, 192);
  border-bottom: 0;
}
.side-detalis-text {
  font-size: 1rem;
  margin: 8px 0;
}
.side-detalis > a{
color: rgb(15, 157, 192);
font-size: 1rem;
}
h3 {
  margin: 0;
}
.main-learning {
 background-color: rgb(194, 192, 192);
}
.main-learning-heading {
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
}
.learning-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 72px;
  justify-content: center;
}
.course-img {
  height: auto;
  width: 350px;
}
.courses {
  background-color: #fff;
  width: 350px;
  margin-right: 22px;
  margin-bottom: 22px;
  text-align: left;
}
.course {
  padding: 16px 16px 24px 16px;
}
.footer-link {
  color: rgb(82, 79, 79);
}
footer {
  border-top: 2px solid rgb(194, 192, 192);
  display: flex;
  padding: 16px 24px 32px 24px;
  font-size: 1rem;
  justify-content: space-between;
}
.thesis-heading {
  text-align: center;
  margin: 32px 0;
}
.thesis-video-box {
  width: 60%;
  padding-right: 24px;
}
.thesis-video-name {
  margin-top: 24px;
  margin-bottom: 8px;
}
.thesis-video-description {
  margin: 0;
}
.thesis {
  display: flex;
}
.footer-side {
  border: none;
}